<!DOCTYPE html>
<html>
<head>
	<title>Cricket</title>
	<link type="text/css" href="style.css" rel="stylesheet"/>
</head>
<body>
<marquee>A scrolling text created with HTML Marquee element.</marquee>
<div id="wap">
	<div id="header">
		THIS IS MY HEADER
	</div>
	<div id="menu">
		<ul>
			<li>Home</li>
			<li>About</li>
			<li>Contact</li>
			<li>Video</li>
			<li>news</li>
		</ul>
	</div>
	<div id="main">
		<div id="first">
			<img src="images/9194247dff2f4a072797f5b366f14efa.jpg" width="300px" height="400"/>
			<p id="title">
				Mahendra singh Dhoni
			</p>
			<p id="content">Mahendra Singh Dhoni is an Indian international cricketer who captained the Indian national team in limited-overs formats from 2007 to 2016 and in Test cricket from 2008 to 2014.</p>
			</div>
</div>
</body>
</html>